<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api-url</key>
	<string></string>
	<key>privacypolicy-url</key>
	<string>http://cornellappdev.com/recast-privacy-policy</string>
	<key>reportfeedback-url</key>
	<string>https://cornellappdev.typeform.com/to/e93Hk9</string>
	<key>github-url</key>
	<string>https://github.com/cuappdev/</string>
	<key>appdev-url</key>
	<string>http://www.cornellappdev.com</string>
	<key>facebook-app-id</key>
	<string></string>
	<key>fabric-api-key</key>
	<string></string>
	<key>fabric-build-secret</key>
	<string></string>
</dict>
</plist>
